/* Private Window */
#main-window[privatebrowsingmode="temporary"] {
   & #nav-bar:-moz-lwtheme {
      background-color: $purple !important;
   }
   & #urlbar-background, #navigator-toolbox #searchbar:-moz-lwtheme {
      background-color: $dark-purple !important;
      color: $white !important;
   }
   
   & .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme {
      background-color: $purple !important;
      background-image: none !important;
      color: $white !important;
   }
   & .browser-toolbar:not(.titlebar-color) {
      background-color: $purple !important;
   }
   & #sidebar-header {
      background-color: $purple !important;
      &  > #sidebar-switcher-target > #sidebar-icon {
         list-style-image: url("chrome://browser/skin/private-browsing.svg") !important;
      }
   }
}
/* End */
