@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml) 
               {
// https://coolors.co/26292c-3f264f-42185b-5b3066-68217a
$white: #ffffff;
$purple: #5B3066;
$dark-purple: #3f264f;

@import 'private-window';
@import 'tree-style-tabs';

input {
  border: 2px inset white;
  background-color: white;
  color: black;
  -moz-appearance: none !important;
}

#navigator-toolbox {
    border-bottom: 0 !important;
 }
#sidebar-header {
    padding: 0 0.1em 0 0.9em !important;
 }
}
